@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif
}
.blog .entry .user-date ul,
.blog .pagination ul,
.blog-single .entry .user-date ul,
.blog-single .share ul,
footer .icon-social {
    list-style: none
}
*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
body {
    background: #fff;
    color: #0082C6;

}
.button,
.navbar {
    background: #003D6F;
    box-shadow: 0 2px 2px 0 transparent, 0 1px 5px 0 rgba(0, 0, 0, .24), 0 3px 1px -2px transparent
}
body::-webkit-scrollbar {
    display: none
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #232323
}
h1 {
    font-size: 34px
}
h2 {
    font-size: 30px
}
h3 {
    font-size: 28px
}
h4 {
    font-size: 24px
}
h5 {
    font-size: 18px
}
h6 {
    font-size: 16px
}
a {
    color: #333
}
.button,
.site-title h1 {
    font-weight: 700;
    color: #fff
}
p {
    margin: 8px 0
}
.button {
    border: 0;
    padding: 6px 12px 8px;
    border-radius: 2px;
    font-size: 12px;
    position: relative
}
.navbar {
    width: 100%;
    height: 60px;
    padding: 13px 0 15px;
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center
}
.site-title {
    float: left;

}
.site-title h1 {
    font-size: 24px;
    padding: 0;
    margin: 0
}
.side-nav a {
    padding: 0 16px;
    font-weight: 400
}
.side-nav a:hover {
    background: 0 0
}
.panel-control-right {
    float: right;
    font-size: 16px;
    line-height: 16px
}
.panel-control-right .sidenav-control-right i {
    color: #fff;
/*    background: #fff;*/
    padding: 8px;
    margin: 2px 0;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 transparent, 0 1px 5px 0 rgba(0, 0, 0, .24), 0 3px 1px -2px transparent
}
.panel-control-right ul {
    padding: 0;
    border: none
}
.panel-control-right ul li {
    border-bottom: dotted 1px #eee
}
.panel-control-right ul li a {
    font-size: 15px
}
.panel-control-right .side-nav li a i {
    margin-right: 5px;
    color: #0082C6
}
.panel-control-right ul li .photos {
    background: #0082C6;
    text-align: center;
    padding: 25px 0
}
.panel-control-right ul li .photos img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    box-shadow: 0 2px 2px 0 transparent, 0 1px 5px 0 rgba(0, 0, 0, .24), 0 3px 1px -2px transparent
}
.panel-control-right ul li .photos h3 {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    display: block;
    margin: 0;
    padding: 0
}
.panel-control-right .side-nav .collapsible-header {
    font-size: 15px;
    color: rgba(0, 0, 0, .87)
}
.panel-control-right .side-nav .collapsible-header span i {
    float: right;
    text-align: right;
    font-size: 12px
}
.panel-control-right .side-nav .collapsible-header:hover {
    background: 0 0
}
.panel-control-right .side-nav .collapsible-header.active {
    border-bottom: dotted 1px #ddd
}
.panel-control-right .side-nav li.active {
    border-bottom: solid 1px #eee;
    background: 0 0
}
.panel-control-right .side-nav .collapsible-header i {
    font-size: 16px;
    color: #0082C6;
    width: 24px;
    margin-right: 5px;
    text-align: left
}
.checkout .order .title,
.offers,
.portfolio ul,
.product,
.product .entry,
.product .tabs {
    text-align: center
}
.panel-control-right .collapsible-body ul {
    padding: 0;
    margin: 0
}
.panel-control-right .collapsible-body ul li a {
    padding-left: 45px;
    height: 40px;
    line-height: 40px
}
.panel-control-right .categories-in li {
    line-height: 40px
}
.panel-control-right .categories-in .collapsible-header {
    padding-left: 45px
}
.panel-control-right .categories-in .collapsible-body ul li a {
    height: 36px;
    line-height: 36px;
    padding-left: 60px
}
.slider-slick {
    position: relative;
    overflow: hidden
}
.slider-slick .slider-entry {
    position: relative;
    height: 280px
}
@media (min-width:768px) {
    .slider-slick .slider-entry {
        position: relative;
        height: 430px
    }
}
.slider-slick .overlay {
    background: rgba(0, 0, 0, .48);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0
}
.slider-slick img {
    width: 100%;
    height: 100%;
    object-fit: cover
}
.slider-slick .caption {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 30%;
    color: #fff;
    z-index: 999;
    overflow-wrap: break-word;
    text-align: center
}
.slider-slick .caption h2 {
    color: #fff;
    font-weight: 700
}
.slider-slick .caption p {
    margin-bottom: 18px!important
}
.slider-slick .slick-dots {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    width: 100%
}
.blog,
.blog-single,
.blog-single .author,
.blog-single .share ul li h6,
.checkout .link,
.login strong,
.product .entry,
.product-details .entry {
    position: relative
}
.slider-slick .slick-dots li {
    width: auto
}
.slider-slick .slick-dots li button {
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%
}
.portfolio img,
.product .entry img {
    width: 100%;
    height: 100%
}
.slider-slick .slick-dots li.slick-active button {
    background: #0082C6
}
.slider-slick .slick-dots li button::before {
    font-size: 0;
    color: transparent
}
.offers {
    padding: 10px 0 20px
}
.offers .entry {
    box-shadow: 0 2px 2px 0 transparent, 0 1px 5px 0 rgba(0, 0, 0, .24), 0 3px 1px -2px transparent;
/*    padding: 20px 5px 10px;*/
    padding: 20px 25px 15px;
    background-color: #003D6F;
    border-radius: 10px;
}
.offers .entry i {
    font-size: 20px;
    margin-bottom: 12px;
    color: #fff;
    float: left;
}

.offers .entry h6 {
    font-size: 15px;
    margin-bottom: 5px;
    color: #fff;
}
.portfolio ul {
    padding: 0;
    margin: 0 0 18px;
    cursor: default
}
.portfolio ul li {
    background: #ddd;
    display: inline-block;
    margin: 0 4px;
    cursor: pointer;
    color: #333;
    padding: 5px 8px 3px;
    border-radius: 1px
}
.portfolio ul .active {
    background: #0082C6;
    box-shadow: 0 2px 2px 0 transparent, 0 1px 5px 0 rgba(0, 0, 0, .24), 0 3px 1px -2px transparent;
    color: #fff
}
.portfolio .row {
    margin: 0;
    padding: 0
}
.portfolio .row .col {
    padding: 3px;
    margin: 0
}
.portfolio img {
    float: left;
    display: block
}
.rating {
    font-size: 12px;
    margin-top: 5px
}
.product.popular {
    padding: 0 0 25px
}
.product .app-title {
    margin-bottom: 20px
}
.product .tabs {
    margin-bottom: 10px
}
.product .tabs .tab {
    text-transform: none
}
.product .tabs .tab a {
    color: #444;
    font-size: 18px
}
.product .tabs .tab a.active {
    color: #0082C6
}
.product .tabs .indicator {
    background: 0 0
}
.product .entry {
    border-radius: 4px;
    padding: 10px;
    background: #fff;
    box-shadow: 0 2px 2px 0 transparent, 0 1px 5px 0 rgba(0, 0, 0, .24), 0 3px 1px -2px transparent
}
.product .entry .button {
    margin-top: 10px;
    margin-bottom: 5px
}
.rating .active {
    color: #fecd2d
}
.product .entry .price,
.product .entry .rating,
.product .entry h6 {
    margin-top: 2px
}
.checkout .order {
    background: #fefefe;
    margin-top: 25px;
    padding: 16px 12px 2px;
    border: 1px solid #ddd;
    margin-bottom: 35px;
    box-shadow: 0 2px 2px 0 transparent, 0 1px 5px 0 rgba(0, 0, 0, .24), 0 3px 1px -2px transparent
}
.checkout .order h5 {
    margin-bottom: 14px
}
.checkout .order h5 span {
    font-size: 18px
}
.checkout .order h6 {
    margin-bottom: 8px;
    font-size: 16px;
    color: #666
}
.app-bg-color .app-title h4,
.app-bg-color h6 {
    color: #fff
}
.checkout .link {
    top: -12px
}
.checkout .order .text-right {
    text-align: right
}
.checkout .order .button {
    margin: auto;
    display: block
}
.app-section {
    padding: 30px 0 35px
}
.app-pages {
    margin-top: 60px
}
.app-title {
    text-align: center;
    margin-bottom: 20px
}
.app-title .line {
    width: 45px;
    height: 5px;
    background: #0082C6;
    margin: 5px auto 0;
    border-radius: 5px 0
}
.pages-title {
    margin-bottom: 30px;
    text-align: center
}
.pages-title h3 {
    font-size: 25px
}
.app-bg-dark {
    background: #f2f2f2
}
.app-bg-light {
    background: #fff
}
.app-bg-light .entry {
    background: #f3f3f3
}
.app-last-row {
    margin-bottom: 0
}
.app-bg-color {
    background: #0082C6;
    color: #fff
}
.app-bg-color .owl-theme .owl-controls .owl-page span {
    background: #fff;
    width: 10px;
    height: 10px;
    box-shadow: 0 2px 2px 0 transparent, 0 1px 5px 0 rgba(0, 0, 0, .24), 0 3px 1px -2px transparent
}
.product-details .entry .big-image img,
.product-details .entry img {
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 5px
}
.app-title h4 {
    font-weight: 500
}
.product-details .entry .big-image img {
    box-shadow: 0 2px 2px 0 transparent, 0 1px 5px 0 rgba(0, 0, 0, .24), 0 3px 1px -2px transparent
}
.product-details .entry .tabs {
    height: auto
}
.product-details .entry .tabs a.active {
    border: 1px solid #0082C6;
    box-shadow: 0 2px 2px 0 transparent, 0 1px 5px 0 rgba(0, 0, 0, .24), 0 3px 1px -2px transparent
}
.product-details .entry .tabs a {
    border: 1px solid #ddd
}
.product-details .entry .tabs img {
    border: 0
}
.product-details .entry .tabs .indicator {
    height: 0;
    background: 0 0
}
.product-details .entry .tabs .tab {
    height: auto
}
.product-details .details .button {
    margin-top: 20px
}
.product-details .desc-review {
    margin-top: 30px
}
.product-details .desc-review .tabs {
    height: 30px
}
.product-details .desc-review .tabs .indicator {
    background: #0082C6
}
.product-details .desc-review .tab {
    height: 30px;
    text-transform: none
}
.review .comment .content .entry {
    overflow: hidden;
    margin-bottom: 22px
}
.review .comment .content p {
    margin: 8px 0
}
.review .comment .content img {
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 15px;
    border-radius: 50%;
    box-shadow: 0 2px 2px 0 transparent, 0 1px 5px 0 rgba(0, 0, 0, .24), 0 3px 1px -2px transparent
}
.review .comment .content {
    border-bottom: 1px solid #eee;
    padding-top: 20px;
    margin-top: 10px
}
.review .post-review {
    margin-top: 20px
}
.review .post-review h6 {
    margin-bottom: 15px
}
.product-cart .entry {
    border: 1px solid #ddd;
    padding: 10px 16px 0 10px;
    box-shadow: 0 2px 2px 0 transparent, 0 1px 5px 0 rgba(0, 0, 0, .24), 0 3px 1px -2px transparent
}
.product-cart .cart-total h6,
.product-cart .entry h6 {
    font-size: 15px
}
.product-cart .entry img {
    width: 100%;
    height: 100%;
    border: 1px solid #ddd
}
.product-cart .entry .cart-title {
    padding: 10px 0 0
}
.product-cart .entry .cart-title i {
    text-align: right;
    float: right
}
.product-cart .entry .s-title {
    border-top: 1px solid #ddd;
    padding-top: 20px
}
.product-cart .entry input[type=number] {
    height: 25px;
    border: 1px solid #ccc;
    padding: 0;
    width: 40px;
    text-align: center;
    position: relative;
    bottom: 4px
}
.blog .entry img,
.blog-single .entry img {
    width: 100%;
    height: 100%
}
.product-cart .cart-total {
    text-align: right;
    margin-top: 25px
}
.product-cart .cart-total h5,
.product-cart .cart-total h6 {
    margin-bottom: 10px
}
.product-cart .cart-total .button {
    text-align: center;
    margin-right: 10px;
    margin-top: 10px
}
.blog .entry {
    margin-bottom: 30px;
    box-shadow: 0 2px 2px 0 transparent, 0 1px 5px 0 rgba(0, 0, 0, .24), 0 3px 1px -2px transparent
}
.blog .entry .user-date {
    padding: 0 15px
}
.blog .entry .content {
    padding: 0 15px 20px
}
.blog .entry .user-date ul li {
    display: inline-block;
    margin-right: 12px
}
.blog .entry .user-date ul li a i {
    margin-right: 6px;
    color: #0082C6
}
.blog .pagination ul {
    margin-top: 40px;
    text-align: center
}
.blog .pagination ul li {
    display: inline-block;
    background: #f3f3f3;
    margin: 0 5px
}
.picker--focused .picker__day--selected,
.picker__day--selected:hover,
form .picker__date-display,
form .picker__day--selected,
form .picker__weekday-display {
    background-color: #0082C6
}
.login .or h5,
.picker__nav--next:hover,
form .picker__nav--prev:hover {
    background: #0082C6
}
.blog .pagination ul .active {
    background: #0082C6;
    color: #fff;
    border-color: #0082C6;
    box-shadow: 0 2px 2px 0 transparent, 0 1px 5px 0 rgba(0, 0, 0, .24), 0 3px 1px -2px transparent
}
.blog-single .entry {
    margin-bottom: 30px
}
.blog-single .author img,
.blog-single .comment .content img {
    width: 80px;
    height: 80px;
    float: left;
    box-shadow: 0 2px 2px 0 transparent, 0 1px 5px 0 rgba(0, 0, 0, .24), 0 3px 1px -2px transparent
}
.blog-single .entry .user-date ul li {
    display: inline-block;
    margin-right: 12px
}
.blog-single .entry .user-date ul li a i {
    margin-right: 6px;
    color: #0082C6
}
.blog-single .share ul {
    margin-top: 15px
}
.blog-single .share ul li {
    display: inline-block
}
.blog-single .share ul li h6 {
    margin-right: 4px;
    bottom: 2px
}
.blog-single .share ul li a i {
    font-size: 20px;
    margin: 0 4px;
    box-shadow: 0 2px 2px 0 transparent, 0 1px 5px 0 rgba(0, 0, 0, .24), 0 3px 1px -2px transparent
}
.blog-single .author {
    border-top: 1px solid #eee;
    padding-top: 20px
}
.blog-single .author .entry {
    overflow: hidden
}
.blog-single .author p {
    margin: 8px 0
}
.blog-single .author img {
    border-radius: 50%;
    margin-right: 15px
}
.blog-single .author .entry ul {
    padding: 0;
    margin: 0
}
.blog-single .author .entry ul li {
    display: inline-block;
    margin-right: 3px
}
.blog-single .comment .content .entry {
    overflow: hidden;
    margin-bottom: 22px
}
.blog-single .comment .content p {
    margin: 8px 0
}
.blog-single .comment .content,
.blog-single .post-comment .content {
    border-top: 1px solid #eee;
    padding-top: 20px;
    margin-top: 10px
}
.blog-single .post-comment .content textarea,
form textarea {
    margin-bottom: 20px
}
.blog-single .comment .content img {
    margin-right: 15px
}
@media (min-width:768px) {
    .blog-single .comment .content {
        border-top: 1px solid #eee;
        padding-top: 20px;
        margin-top: 10px;
        padding-bottom: 10px
    }
}
form .select-wrapper input.select-dropdown,
form input[type=number],
form input[type=text],
form input[type=email],
form input[type=password],
form input[type=tel],
form input[type=date] {
    border-bottom: 1px solid #ccc;
    height: 40px;
    border-radius: 5px;
    width: 100%;
    overflow: visible;
    box-sizing: border-box
}
form input:not([type]):focus:not([readonly]),
form input[type=number]:focus:not([readonly]),
form input[type=text]:focus:not([readonly]),
form input[type=email]:focus:not([readonly]),
form input[type=password]:focus:not([readonly]),
form input[type=tel]:focus:not([readonly]),
form input[type=date]:focus:not([readonly]) {
    border-bottom: 1px solid #0082C6;
    box-shadow: none
}
.input-field input:not([type]):focus:not([readonly])+label,
.input-field input[type=number]:focus:not([readonly])+label,
.input-field input[type=text]:focus:not([readonly])+label,
.input-field input[type=email]:focus:not([readonly])+label,
.input-field input[type=password]:focus:not([readonly])+label,
.input-field input[type=tel]:focus:not([readonly])+label,
.input-field input[type=date]:focus:not([readonly])+label {
    color: #0082C6;
    box-shadow: none
}
form textarea {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 2px;
    width: 100%;
    overflow: visible;
    box-sizing: border-box;
    height: auto
}
form textarea:focus {
    border-bottom: 1px solid #0082C6
}
form textarea:focus+label {
    color: #0082C6
}
form .picker__day.picker__day--today {
    color: #0082C6
}
::-webkit-input-placeholder {
    color: #666
}
:-moz-placeholder {
    color: #666
}
::-moz-placeholder {
    color: #666
}
:-ms-input-placeholder {
    color: #666
}
.login strong {
    display: block;
    bottom: 5px
}
.login .forgot {
    margin-bottom: 10px;
    display: block
}
.login [type=checkbox]+label {
    padding-left: 30px;
    color: #333
}
.login .or h5,
.register .or h5 {
    height: 40px;
    color: #fff;
    line-height: 40px;
    border-radius: 50%;
    box-shadow: 0 2px 2px 0 transparent, 0 1px 5px 0 rgba(0, 0, 0, .24), 0 3px 1px -2px transparent;
    text-align: center
}
.login [type=checkbox]:checked+label::before {
    border-right: 2px solid #0082C6;
    border-bottom: 2px solid #0082C6
}
.login .button {
/*
    margin-top: 12px;
    margin-bottom: 24px;
    width: 100%
*/
    border-radius: 20px;
    margin-bottom: 24px;
    margin-left: 25%;
    margin-top: 12px;
    width: 50%;
}
.login .create-account {
    text-align: center
}
.login .or h5 {
    width: 40px;
    margin: 10px auto
}
.login .or .button {
    margin-top: 12px;
    margin-bottom: 12px
}
.login .facebook {
    background: #3b5998
}
.login .twitter {
    background: #00aced
}
.login .google {
    background: #dd4b39
}
.register .button {
    border-radius: 20px;
    margin-bottom: 24px;
    margin-left: 25%;
    margin-top: 12px;
    width: 50%;
}
.register .login-now {
    text-align: center;
    display: block
}
.register .or h5 {
    width: 40px;
    background: #0082C6;
    margin: 20px auto 10px
}
.register .or .button {
    margin-top: 12px;
    margin-bottom: 12px
}
.register .facebook {
    background: #3b5998
}
.register .twitter {
    background: #00aced
}
.register .google {
    background: #dd4b39
}
.page-404 {
    text-align: center
}
.page-404 h3 {
    font-size: 96px;
    text-shadow: 3px 3px 5px rgba(150, 150, 150, .79)
}
.page-404 h3 span {
    color: #0082C6
}
.page-404 .button {
    margin: 10px 0;
    display: inline-block
}
.page-404 .button a {
    color: #fff
}
.testimonial {
    text-align: center
}
.testimonial .app-title i {
    font-size: 26px
}
.testimonial h6 {
    font-weight: 700
}
.testimonial .app-title {
    margin-bottom: 10px
}
.testimonial img {
    border-radius: 50%;
    margin: 5px 0;
    height: 60px;
    width: 60px;
    box-shadow: 0 2px 2px 0 transparent, 0 1px 5px 0 rgba(0, 0, 0, .24), 0 3px 1px -2px transparent
}
.latest-news .entry {
    text-align: center;
    padding-bottom: 6px;
    box-shadow: 0 2px 2px 0 transparent, 0 1px 5px 0 rgba(0, 0, 0, .24), 0 3px 1px -2px transparent
}
.latest-news img {
    width: 100%;
    height: 100%
}
.latest-news .content {
    padding-right: 10px;
    padding-left: 10px
}
.latest-news .content h6 {
    font-size: 17px;
    margin-top: 10px
}
.latest-news .content p {
    margin: 10px 0
}
.latest-news .mb-0 {
    margin-bottom: 0
}
.faq .collapsible {
    border: none;
    box-shadow: none
}
.faq .collapsible li .collapsible-header,
footer .icon-social li {
    box-shadow: 0 2px 2px 0 transparent, 0 1px 5px 0 rgba(0, 0, 0, .24), 0 3px 1px -2px transparent
}
.faq .collapsible li {
    margin-bottom: 6px;
    border: 1px solid #ddd;
    border-bottom-color: transparent
}
.faq .collapsible li .collapsible-header {
    font-size: 16px;
    color: #666
}
.faq .collapsible li .collapsible-header i {
    float: right;
    margin-right: 0;
    width: auto;
    font-size: 14px
}
.faq .collapsible li .collapsible-body p {
    padding: 16px
}
footer {
    background: #0082C6;
    text-align: center;
    padding: 30px 0;
    display: block;
    position:fixed;
    height:auto;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
}
footer h6 {
    color: #fff;
    font-size: 20px
}
footer .icon-social {
    padding: 0;
    margin: 20px 0 15px
}
footer .icon-social li {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin: 0 3px;
    border-radius: 100%
}
footer .icon-social .facebook {
    background: #3b5998
}
footer .icon-social .twitter {
    background: #00aced
}
footer .icon-social .google {
    background: #dd4b39
}
footer .icon-social .instagram {
    background: #517fa6
}
footer .icon-social .rss {
    background: #fe7e00
}
footer ul li a {
    color: #fff
}
footer .tel-fax-mail ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #fff
}
footer .tel-fax-mail ul li {
    padding: 4px 0
}
footer .tel-fax-mail ul li span {
    font-weight: 700;
    padding: 0;
    margin: 0
}
footer .ft-bottom {
    border-top: dotted 1px #eee;
    margin-top: 20px;
    padding-top: 20px;
    color: #fff
}

footer2 {
    background: transparent;
    text-align: center;
    padding: 10px 0 10px 0;
    display: block
}
footer2 h6 {
    color: #fff;
    font-size: 20px
}
footer2 .icon-social {
    padding: 0;
    margin: 20px 0 15px
}
footer2 .icon-social li {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin: 0 3px;
    border-radius: 100%
}
footer2 .icon-social .facebook {
    background: #3b5998
}
footer2 .icon-social .twitter {
    background: #00aced
}
footer2 .icon-social .google {
    background: #dd4b39
}
footer2 .icon-social .instagram {
    background: #517fa6
}
footer2 .icon-social .rss {
    background: #fe7e00
}
footer2 ul li a {
    color: #fff
}
footer2 .tel-fax-mail ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #fff
}
footer2 .tel-fax-mail ul li {
    padding: 4px 0
}
footer2 .tel-fax-mail ul li span {
    font-weight: 700;
    padding: 0;
    margin: 0
}
footer2 .ft-bottom {
    border-top: dotted 1px #eee;
    margin-top: 20px;
    padding-top: 20px;
    color: #fff
}

.photos {
    background: transparent;
    text-align: center;
    padding: 30% 0 10% 0
}
.photos img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border-color: #0082C6;
    box-shadow: 0 2px 2px 0 transparent, 0 1px 5px 0 rgba(0, 0, 0, .24), 0 3px 1px -2px transparent
}
.photos h3 {
    font-size: 20px;
    color: #0082C6;
    font-weight: 500;
    display: block;
    margin: 0;
    padding: 0
}

.photos h6 {
    font-size: 10px;
    color: #0082C6;
    font-weight: 100;
    display: block;
    margin: 0;
    padding: 5px
}
