<widget id="io.cordova.hellocordova" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Cedezone Customer</name>
  <description>
Cedezone customer app for booking cleaning services  </description>
  <author email="olaniyiolatunji@gmail.com" href="http://aladstech.com.ng">
      Olaniyi Olatunji
  </author>
  <content src="index.html" />
  <plugin name="cordova-plugin-whitelist" spec="1" />
  <access origin="*" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-intent href="tel:*" />
  <allow-intent href="sms:*" />
  <allow-intent href="mailto:*" />
  <allow-intent href="geo:*" />

<!--<js-module src="GooglePlus.js" name="GooglePlus">
    <clobbers target="window.plugins.googleplus" />
  </js-module>-->
<preference name="OverrideUserAgent" value="Mozilla/5.0 Google" />

  <platform name="android">
      <allow-intent href="market:*" />
        <icon src="res/icon.png"  density="ldpi" />
        <icon src="res/icon.png"  density="mdpi" />
        <icon src="res/icon.png"  density="hdpi" />
        <icon src="res/icon.png"  density="xhdpi" />
        <icon src="res/icon.png"  density="xxhdpi" />
        <icon src="res/icon.png"  density="xxxhdpi" />

    <splash src="res/splash.png" density="land-hdpi"/>
    <splash src="res/splash.png" density="land-ldpi"/>
    <splash src="res/splash.png" density="land-mdpi"/>
    <splash src="res/splash.png" density="land-xhdpi"/>
    <splash src="res/splash.png" density="port-hdpi"/>
    <splash src="res/splash.png" density="port-ldpi"/>
    <splash src="res/splash.png" density="port-mdpi"/>
    <splash src="res/splash.png" density="port-xhdpi"/>

  </platform>
  <platform name="ios">
      <allow-intent href="itms:*" />
      <allow-intent href="itms-apps:*" />
  </platform>
<!--
<gap:plugin name="cordova-plugin-googleplus" source="npm" version="2.0.0">
  <param name="183619491292-1ufm302r4luc3r68loc93irbt4q1h72n.apps.googleusercontent.com" value="myreversedclientid" />
</gap:plugin>-->

       <!-- <plugin name="org.apache.cordova.inappbrowser" source="npm" version="1.7.1" />  -->
       <!-- <plugin name="org.apache.cordova.inappbrowser" source="npm" version="1.7.2" />  -->
<feature name="InAppBrowser">
    <param name="android-package" value="org.apache.cordova.InAppBrowser" />
</feature>
</widget>
