<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Surfline Mobile</name>

  <description>
      Surfline Mobile App
  </description>

  <author href="http://aladstech.com.ng" email="olaniyi@aladstech.com.ng">
      Olaniyi Olatunji
  </author>

     <platform name="android">
        <!--
            ldpi    : 36x36 px
            mdpi    : 48x48 px
            hdpi    : 72x72 px
            xhdpi   : 96x96 px
            xxhdpi  : 144x144 px
            xxxhdpi : 192x192 px
        -->
        <icon src="img/icon.png" density="ldpi" />
        <icon src="img/icon.png" density="mdpi" />
        <icon src="img/icon.png" density="hdpi" />
        <icon src="img/icon.png" density="xhdpi" />
        <icon src="img/icon.png" density="xxhdpi" />
        <icon src="img/icon.png" density="xxxhdpi" />
    </platform>

    <platform name="windows">
        <!--
            ldpi    : 36x36 px
            mdpi    : 48x48 px
            hdpi    : 72x72 px
            xhdpi   : 96x96 px
            xxhdpi  : 144x144 px
            xxxhdpi : 192x192 px
        -->
        <icon src="img/icon.png" density="ldpi" />
        <icon src="img/icon.png" density="mdpi" />
        <icon src="img/icon.png" density="hdpi" />
        <icon src="img/icon.png" density="xhdpi" />
        <icon src="img/icon.png" density="xxhdpi" />
        <icon src="img/icon.png" density="xxxhdpi" />
    </platform>
     <platform name="blackberry">
        <!--
            ldpi    : 36x36 px
            mdpi    : 48x48 px
            hdpi    : 72x72 px
            xhdpi   : 96x96 px
            xxhdpi  : 144x144 px
            xxxhdpi : 192x192 px
        -->
        <icon src="img/icon.png" density="ldpi" />
        <icon src="img/icon.png" density="mdpi" />
        <icon src="img/icon.png" density="hdpi" />
        <icon src="img/icon.png" density="xhdpi" />
        <icon src="img/icon.png" density="xxhdpi" />
        <icon src="img/icon.png" density="xxxhdpi" />
    </platform>


</widget>
